@import "tailwindcss";

:root {
  --header-height: 4rem; /* change this once to affect header + page padding */
}

/* include safe-area support for notched devices (optional but recommended) */
body {
  margin: 0;
  padding-top: calc(var(--header-height) + env(safe-area-inset-top));
}
